/*h1:hover{
color: #FF0066;
}*/

/*.formulario__input{

}*/

/*.editar{
    font-size: em;/////
    font-family: Georgia, 'Times New Roman', Times, serif;/////
    line-height: 2;/////
    font-weight: 900;/////
    color: #CC6600;/////
}*/

/*h3{
    background-color: #33FFFF;/////
    display: inline-block;/////
    padding: 30px 30px 30px 30px;/////
    box-sizing: border-box;/////
    text-align: center;/////
    margin: 10px 10px 10px 10px;/////
    border-radius: 16px;/////
    border: 10px ridge #99FFFF;/////
    box-shadow: 10px 10px 5px 5px #CCCCCC;/////
    text-shadow: 2px 2px 7px #FFFF00, 2px 2px 7px #FFFF00;/////
    transform: rotate(5deg);/////
}*/

/*div{*/

/*background: #CC6600;/////*/
/*margin: auto;*/
/*display: block;/////
position: absolute;/////
}*/

/*div div{
    height: 100px;/////
    width: 100px;/////
    background-color: #FFFF00;/////
}*/

/*.contenedor{
    position: relative;/////
    border: 4px solid #33FFFF;/////
    margin: 50px auto;/////
    height: 450px;/////
    width: 450px;/////
    
}*/

/*.caja1{
   
}*/

/*.caja2{*/
   /* background-color: #009999;
    position: relative;
    top: 43px;
    left: 20px;*/
    /*z-index: 1; todas las cajas tienen valor cero, y con z-index  le damos un valor para que seposiciones de lante de las otras siempre y cuando esten posisicionadas. */
   /* right: 0;/////
}*/


/*.caja3{*/
   /* background-color: #FFFF00;
    position: relative;*/
    /*bottom: 0;/////
}*/


/*.caja4{*/
   /* background-color: #33FF33;*/
   /*bottom: 0;/////
   right: 0;/////
}*/


/*.caja5{
   top: 0;/////
   right: 0;/////
   bottom: 0;/////
   left: 0;/////
   margin: auto;/////
 }*/


 /*b{
    background-color: #33FFFF;/////
    display: inline-block;/////
    padding: 10px 10px 10px 10px;/////
    box-sizing: border-box;/////
    margin: 10px 10px 10px 10px;/////
    border-radius: 16px;/////
    border: 10px ridge #99FFFF;/////
    
    
    
 }*/

 /*.container{
    float: left;
 }

 .container div{
    width: 50%;
    float: right;
 }

 .primaria{
    background: #339999;
 }


 .segundaria{
background: #FFFF00;
 }*/

 /*.caja1{
    height: 200px;
    width: 200px;
    background: #660066;
    transition: all 1s;
 }


 .caja1:hover{
    background: #FF3366;
    height: 300px;
    width: 300px;
 }


 a:link {
    color: #FF9933;
 }


 .entrada{
    margin: 25px;
    background: #CCCCCC;
    transition: background 1s, padding 1s;
 }

 .entrada:focus{
    background: #FFFFFF;
    padding: 20px;
 }*/


 /*.leopardo{
    margin: 25px;
    width: 500px;
    height: 700px;
 }

 .leopardo img{
    height: 100px;
    width: 100px;
    border: 3px solid salmon;
    object-fit: contain;*/
    /*- con (contain) la imagen se ajusta a las resoluciones reales lo cual no se ajusta al contenedor.
      - con (cover) la imagen se ajusta al contenedor y recorta lo demas.
      - con (none) none actua como si fuese la imagen original.
      - con (scale-down) se adapta a la que mas le conviene.
    */
   /* object-position: left;*//*posicionar la imagen*/
 /*}*/


 /*div{
    width: 45%;
    display: inline-block;
    padding: 20px;
    background: #CCCCCC;

 }

 .box1{
    background: #999999;
 }

 @media only screen and (max-widht: 800px) {
    div {
        display: block;
        width: 100%;
    }


 }*/

 /*.nav__responsive-ul{
    display: none;
 }

 .nav{
    background-color: #CCFFCC;
 }

 .nav__li{
    display: inline-block;
    padding: 12px;
    color: #006666;
 }

 .nav__li:hover > a {
    color: #99FFFF;
    

 }

 .nav__li:hover {
    color: darkcyan;
 }

 .nav__li a {
    color: #003333;
    text-decoration: none;

 }


.nav__li i{
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
}

@media only screen and  (max-widht: 500px) {
   .nav ul{
    display: none;
   } 
   .nav{
    height: 37px;
    width: 100%;
    background-color: #CCFFFF;
   }

   .nav__responsive-ul{
    display: block;
    position: absolute;
    width: 100%;
    background: #99CCCC;
    height: 200%;
   }

   .nav__responsive-li{
    width: 100%;
   }

   .nav__responsive-li i {
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
    width: 30px;
   }
}*/

.flex-contenedor{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
    height: 100vh;
    align-content: flex-end;
}

.flex-item{
    background-color: #FF3366;
    margin: 5px;
    min-width: 120px;
    height: 120px;
    text-align: center;
}

.bmw{
background: #990000;
}

.for{
background: #990066;
}